:root {
  --primary: #2b7abf;
  --primary-transparent: #2b7abf3a;

  --secondary: #0f477b;
  --text: #e7edf3;
  --background: #ffffff16;
  --border-radius: 10px;
}

button {
  background-color: var(--primary);
}

#input {
  border-radius: var(--border-radius);
}

section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  margin: 1rem 3rem 1rem 3rem;
  background-color: var(--background);
  border-radius: var(--border-radius);
}

h2 {
  margin-bottom: 0;
  padding-bottom: 0;
}



#text-input-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
  width: 100%;
  align-items: stretch;

}



#control-btn-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}


#control-btn-container>button {
  min-width: 6rem;
}

.my-btn {
  background-color: var(--primary);
  border-color: var(--primary);
}

.my-btn:hover {
  color: white;
  background-color: var(--secondary);
  border-color: var(--secondary);
}


.my-btn:disabled {
  background-color: var(--primary-transparent);
}

#suggestion-section {
  background-color: var(--background);
  border-radius: var(--border-radius);
  padding: 1rem;

}

#suggestions {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

#suggestions-n-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.best-suggestion {
  background-color: var(--primary-transparent);
  font-weight: bold;
}

.word-btn {
  border-radius: var(--border-radius);
  border-color: var(--primary);
}



.word-btn:hover {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--text);
}