:root {
  --primary: #2b7abf;
  --primary-transparent: #2b7abf3a;

  --secondary: #0f477b;
  --text: #e7edf3;
  --background: #ffffff16;
  --border-radius: 10px;
}

button {
  background-color: var(--primary);
}

section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem;
  margin-bottom: 3rem;
  background-color: var(--background);
  border-radius: var(--border-radius);
}

h2 {
  margin-bottom: 0;
  padding-bottom: 0;
}


#input-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  width: 100%;
}

#input-grid>#input {
  grid-column: span 3;
  border-radius: var(--border-radius);

}

#input-grid>#input-btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.my-btn {
  background-color: var(--primary);
  border-color: var(--primary);
}

.my-btn:hover {
  color: white;
  background-color: var(--secondary);
  border-color: var(--secondary);
}

.my-btn:disabled {
  background-color: var(--primary-transparent);
}

#suggestion-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: stretch;
  gap: 1rem;
  background-color: var(--background);
  border-radius: var(--border-radius);
  padding: 1rem;

}

#suggestions {
  /*as parent*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: stretch;
  gap: 0.5rem;
}

#suggestion-controls {
  /*as child*/

  /*as parent */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}


.best-suggestion {
  background-color: var(--primary-transparent);
  font-weight: bold;
}

.word-btn {
  border-radius: var(--border-radius);
  border-color: var(--primary);
}



.word-btn:hover {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--text);
}



@media (max-width: 500px) {
  #input-grid>#input {
    grid-column: span 4;
  }

  #input-grid>#input-btns {
    grid-column: span 4;
  }

  #suggestions {
    grid-column: span 2;
  }

  #suggestion-controls {
    grid-column: span 2;
  }
}